In [1]:
l = [1,345,66,"pankaj",True,5+7j, 345.987]

In [2]:
type(l)

list

In [3]:
list[4]

list[4]

In [4]:
l[4]

True

In [5]:
9+8

17

In [6]:
l[:3]

[1, 345, 66]

In [1]:
9+8

17

In [2]:
8+9

17

In [2]:
l = [1,345,66,"pankaj",True,5+7j, 345.987]

In [3]:
l

[1, 345, 66, 'pankaj', True, (5+7j), 345.987]

In [4]:
l[3]

'pankaj'

In [5]:
l[3][0:2]
# to find the latter from the string

'pa'

In [8]:
l[4]

True

In [9]:
l

[1, 345, 66, 'pankaj', True, (5+7j), 345.987]

In [10]:
l1 = [3,4,5]

In [11]:
l + l1

[1, 345, 66, 'pankaj', True, (5+7j), 345.987, 3, 4, 5]

In [12]:
l

[1, 345, 66, 'pankaj', True, (5+7j), 345.987]

In [14]:
l1

[3, 4, 5]

In [15]:
l1 * 3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [16]:
l.append(5)

In [17]:
l

[1, 345, 66, 'pankaj', True, (5+7j), 345.987, 5]

In [18]:
s = "pwskills"

In [19]:
l.append(s)
# in this way we add string in a list

In [20]:
l

[1, 345, 66, 'pankaj', True, (5+7j), 345.987, 5, 'pwskills']

In [21]:
l.append(l1)

In [22]:
l
#like this we store list inside a list

[1, 345, 66, 'pankaj', True, (5+7j), 345.987, 5, 'pwskills', [3, 4, 5]]

In [23]:
l[9][1:2]

[4]

In [24]:
l[-1][1]

4

In [25]:
l

[1, 345, 66, 'pankaj', True, (5+7j), 345.987, 5, 'pwskills', [3, 4, 5]]

In [26]:
l.extend('pankaj')

In [30]:
l1

[3, 4, 5]

In [31]:
l1.insert(1,"pankaj")

In [32]:
l1

[3, 'pankaj', 4, 5]

In [33]:
type(l1)

list

In [38]:
l1.insert(-1,45)
#it will insert 45 at the last position of l1,and last element will go the last +1 position .
#here 5 is last element it will insert 45 at the place of 5 and move 5 to one step ahead
#insert will add data at the specific place of the list , thats why we provide the place

In [37]:
l1

[3, 'pankaj', 4, 45, 45, 5]

In [39]:
l1.pop(3)

45

In [40]:
l1

[3, 'pankaj', 4, 45, 45, 5]

In [41]:
l1.insert([3,4,5])

TypeError: insert expected 2 arguments, got 1

In [42]:
l1.extend([2,3,4])

In [43]:
l1

[3, 'pankaj', 4, 45, 45, 5, 2, 3, 4]

In [48]:
l1.append([3,4,5,5])

In [45]:
l1

[3, 'pankaj', 4, 45, 45, 5, 2, 3, 4, [3, 4, 5, 5]]

In [46]:
l1.remove([3,4,5,5])

In [47]:
l1

[3, 'pankaj', 4, 45, 45, 5, 2, 3, 4]

In [49]:
l1

[3, 'pankaj', 4, 45, 45, 5, 2, 3, 4, [3, 4, 5, 5]]

In [50]:
l1[9].remove(4)

In [51]:
l1

[3, 'pankaj', 4, 45, 45, 5, 2, 3, 4, [3, 5, 5]]

In [54]:
l1.[1].remove('kaj')
#we cannot remove kaj from a list , because string is immatuble amd it is in List

SyntaxError: invalid syntax (2950163751.py, line 1)

In [55]:
l1.reverse()

In [56]:
l1

[[3, 5, 5], 4, 3, 2, 5, 45, 45, 4, 'pankaj', 3]

In [57]:
l1

[[3, 5, 5], 4, 3, 2, 5, 45, 45, 4, 'pankaj', 3]

In [58]:
l1

[[3, 5, 5], 4, 3, 2, 5, 45, 45, 4, 'pankaj', 3]

In [59]:
l1 = [3,5,66,7,11,444,56]

In [60]:
l1.sort()
#sort() will sort the variable

In [61]:
l1

[3, 5, 7, 11, 56, 66, 444]

In [62]:
l3 = ["pankaj","Ravi","Sahil","Sachin","Ayush"]

In [63]:
l3.sort()

In [64]:
l3

['Ayush', 'Ravi', 'Sachin', 'Sahil', 'pankaj']

In [66]:
l3.sort(reverse=True)

In [67]:
l3

['pankaj', 'Sahil', 'Sachin', 'Ravi', 'Ayush']

In [68]:
l3.index("pankaj")

0

In [70]:
l3.count('ravi')

0

In [71]:
l3[0].replace('p','n')
#this way we change the string alphabet
#it will replace but not change in original location , only change when we assign the string

'nankaj'

In [72]:
l3

['pankaj', 'Sahil', 'Sachin', 'Ravi', 'Ayush']

In [1]:
l3

NameError: name 'l3' is not defined

In [2]:
l4 = ["pankaj", "sahil"]

In [3]:
l4

['pankaj', 'sahil']

In [1]:
l4

NameError: name 'l4' is not defined

In [2]:
l4 = ["apple","ball","cat","dog","elephant"]

In [3]:
l4

['apple', 'ball', 'cat', 'dog', 'elephant']

In [4]:
l4

['apple', 'ball', 'cat', 'dog', 'elephant']

In [5]:
l3

NameError: name 'l3' is not defined

In [6]:
l4

['apple', 'ball', 'cat', 'dog', 'elephant']

In [7]:
l4

['apple', 'ball', 'cat', 'dog', 'elephant']

In [16]:
marks = int(input("type your marks"))
if marks >= 80:
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")
    #we use indentation to separate the code from the code blocks like in c/java we use {}

type your marks90
you will be a part of A0 batch

In [13]:
marks = int(input("enter your marks"))
#writing int we just type cast the value into int , otherwise python acts as a string for input

enter your marks56

In [25]:
price = int(input("enter price"))
if price > 1000:
    print("i will not purchase")
    if price > 5000:
        print("the price is over")
    elif price < 2000: 
        print("its ok")
        #like this we can check the price 
elif price < 1000:
    print("i will purchase")
else :
    print("not interested")

enter price100
i will purchase

In [26]:
l = [1,2,3,4,5,6,7]

In [29]:
l1 = []
for i in l:
    print(i+1)
    l1.append(i+1)
    # by using this we change a value of the list and new value will insert into the new list

2
3
4
5
6
7
8

In [30]:
l1

[2, 3, 4, 5, 6, 7, 8]

In [31]:
l

[1, 2, 3, 4, 5, 6, 7]

In [32]:
l = ["pankaj","shekhar","biplob","nitu"]

In [33]:
l3 = []
for i in l:
    l3.append(i.upper())

In [34]:
l3

['PANKAJ', 'SHEKHAR', 'BIPLOB', 'NITU']

In [35]:
l = [1,2,3,4,5,"pankaj","sarmah",324,34.44,"abc"]

In [56]:
l2 = []
l3 = []
for i in l:
    if type(i) == int or type(i) == float :
        l2.append(i)
    else:
        l3.append(i)
        #like this we separate str and int into other two list

In [52]:
l3

['pankaj', 'sarmah', 'abc']

In [55]:
l2

[1, 2, 3, 4, 5, 324, 34.44]