In [1]:
l = [1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [2]:
l1 = ["pankaj", " sahil", "ravi","kuki"]

In [3]:
for i in l1:
    print(i)

pankaj
 sahil
ravi
kuki

In [4]:
for i in l1:
    print(i)
else:
    print("only after executing the for loop else part will be execute")

pankaj
 sahil
ravi
kuki
only after executing the for loop else part will be execute

In [6]:
for i in l1:
    if i == " sahil":
        break
    print(i)
else:
    print("execute this if for loop is able to complete itself")
    #here for loop is not completing thats why only pankaj is print

pankaj

In [9]:
for i in l1:
    if i == " sahil":
        continue
    print(i)
    #here we use the continue by using continue it will skip that statement and follow other statement , so here sahil is not printing . continue will send the control immidiately to the for loop

pankaj
ravi
kuki

In [10]:
range(5)

range(0, 5)

In [11]:
list(range(5))

[0, 1, 2, 3, 4]

In [14]:
list(range(0,20,2))
#like this we use range(), here 0 to 20 we range , nd 2 jump so we get all even numbers . 20 is upperbound so 20-1 = 19 tak jaega.

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
list(range(-10,0,2))

[-10, -8, -6, -4, -2]

In [16]:
for i in range(len(l1)):
    print(l1[i])

pankaj
 sahil
ravi
kuki

In [20]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])
    #like this we reverse the list , here we first take the len of the list as a upper bound , -1 as a lower bound and -1 as a steps , we go from ending to front so -1 steps will be needed to go .
    #we put the range function so that everything will be automate

kuki
ravi
 sahil
pankaj

In [21]:
l2 = [34,45,66,77,3,34,5,6,5]
for i in range(0,len(l2),2):
    print(l2[i])

34
66
3
5
5

In [23]:
l = [3,4,5,7,54,33,555,67]

In [26]:
result = 0
for i in l:
    result = result + i
result
#by doing this we can find the sum of element in the list

728

In [29]:
#set , in set we print in this way 
s = {1,2,3,4,"pankaj","sarmah"}
for i in s:
    print(i)

1
2
3
4
pankaj
sarmah

In [31]:
s1 = "hlw world"
for i in s1:
    print(i)
    #string also store in index format thats why it will store

h
l
w

w
o
r
l
d

In [32]:
s1

'hlw world'

In [33]:
d = {"name" : "sudh", "class" : "data science masters",
    "topic" : ["python", "state","machine learning", "DL", "CV", "NLP","resume","interview"]}

In [34]:
d

{'name': 'sudh',
 'class': 'data science masters',
 'topic': ['python',
  'state',
  'machine learning',
  'DL',
  'CV',
  'NLP',
  'resume',
  'interview']}

In [35]:
d.keys()
#this way we can find only keys from the list

dict_keys(['name', 'class', 'topic'])

In [37]:
for i in d.keys():
    print(d[i])

sudh
data science masters
['python', 'state', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [38]:
for i in d.values():
    print(i)
    #this way we can find the values by using for loop

sudh
data science masters
['python', 'state', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [39]:
d.items()
#by using we can find the key : value also

dict_items([('name', 'sudh'), ('class', 'data science masters'), ('topic', ['python', 'state', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])])

In [40]:
for i in d.items():
    print(i)

('name', 'sudh')
('class', 'data science masters')
('topic', ['python', 'state', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])

In [ ]:
#like this we can find the key value both in the list .