In [1]:
a = 1
while a <= 10:
    print(a)
    a = a+ 1

1
2
3
4
5
6
7
8
9
10

In [6]:
#sum of the no till some point 
n = int(input("type your limit"))
starting_point = 0
counter = 1

while counter <= n:
    starting_point = counter + starting_point
    counter = counter + 1
starting_point

type your limit5

15

In [4]:
m = input("type a name")
list(m.encode('ascii'))
#convert any str into ascii value

type a namepankaj

[112, 97, 110, 107, 97, 106]

In [9]:
# Find factorial by using while loop
number = int(input("type your no"))
factorial = 1
while number > 0:
    factorial = factorial * number
    number = number - 1
factorial

type your no5

120

In [11]:
#Fibonacchi series 
number = int(input("enter the element of no "))
a, b = 0, 1
counter = 0
while counter < number:
    print(a)
    c = a + b
    a = b
    b = c
    counter = counter + 1
    # here we define a and b variable in one line. starting point is from o and 1 
    # fibonacci means 1 + 1 next will 2 , 1+2 so next will 3

enter the element of no 10
0
1
1
2
3
5
8
13
21
34

In [12]:
#find fibonacci by using for loop 
a, b = 0, 1
for i in range(10):
    print(a)
    c = a + b
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

In [14]:
#reverse str using loop , we can reverse str by using while loop
word = input("enter your string ")
reverse = ""
length = len(word)
while length > 0:
    reverse = reverse + word[length -1]
    length = length - 1
print(reverse)

enter your string pankaj
jaknap

In [15]:
#print the table of numbers 
# here we print the numbers of table

In [16]:
n = int(input("enter your no"))
i = 1
while i <= 10:
    result = n * i
    print(n,"*",i,"=",result)
    i = i+1

enter your no5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [17]:
# while and if

n = 5
i = 1
while i < n:
    print(i)
    if i == 3:
        break
    i = i + 1
else:
    print("this part will print only if the loop will execute correctly")
    # here we put brak thats why loop will not completed succesfully

1
2
3

In [18]:
l = [1,2,3,4,5,6]
[i**2 for i in l]
#by this way we can write in one line and return the squre of the list 
# here we write that i in l and return the value within the list and we increase the value within the list

[1, 4, 9, 16, 25, 36]

In [19]:
[i for i in l if i % 2 == 0]
#here we write for i to l and write the condition i % 2 == 0 i.e postive no , and return the no in the list so we write i in the last but put into first index

[2, 4, 6]

In [22]:
l1 = ["pankaj", "ravi","kabir","shekhar","biplob"]
[i.upper() for i in l1]
#this way we can capital the string in one line 
#this is called list comparisons

['PANKAJ', 'RAVI', 'KABIR', 'SHEKHAR', 'BIPLOB']

In [23]:
l

[1, 2, 3, 4, 5, 6]

In [25]:
list(i**2 for i in l)
#this way we can change value in tuples and again print in list 
#touple comprehension

[1, 4, 9, 16, 25, 36]

In [26]:
#so here square the dictionary value 
d = {"key1" : 1 , "key2": 2,"key3": 3,"key4": 4}
{k:v**2 for k , v in d.items()}
#here we did that for k for key and v for value in d.items() it will return whole k,v in the dict format , so we incease the v value by squaring it 
# and again wrap in dict so that we get the value in dict format

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [28]:
#return only the value which is greater than 1 , 
{k:v for k, v in d.items() if v > 1}
#so it will return only the value which is greater than 1

{'key2': 2, 'key3': 3, 'key4': 4}