In [4]:
def test():
    print("this is function")
    #this way we define the function , def is for simple defenaction and then fun name and ():
    #if we write print within the fun then we didn't concatinate with the string 
    #so usually we can't write the print instead of that we write return so that it will return something

In [3]:
test()

this is function

In [5]:
def test1():
    return "this is my first return"

In [6]:
test1()

'this is my first return'

In [7]:
test1() + "pankaj"
#like this we add string with function

'this is my first returnpankaj'

In [8]:
def test2():
    return "pankaj",23,345.55,[1,2,3,4]
#it will return in touples

In [9]:
test2()

('pankaj', 23, 345.55, [1, 2, 3, 4])

In [10]:
def test3(a,b,c):
    d = a+b/c
    return d
#here user will give the input as they need as basis .

In [11]:
test3(4,6,8)

4.75

In [16]:
def test4(a,b):
    return a + b
#this way we can concatinate the string

In [15]:
test4("pankaj","sarmah")

'pankajsarmah'

In [17]:
l = [1,2,3,4,"pankaj","ravi",[3445.543,43,322,45]]

In [20]:
l1=[]
for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)

In [21]:
l1

[1, 2, 3, 4, 3445.543, 43, 322, 45]

In [25]:
def test7(l):
    l1=[]
    for i in l:
         if type(i) == int or type(i) == float:
                     l1.append(i)
    return l1

In [26]:
test7([5,5,7,7,8,88,])

[5, 5, 7, 7, 8, 88]

In [32]:
def test8(a):
    """ this is my fun to extract num data from the list """
    l=[]
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
    return l
#like this we can find the element in the list by creating a function , here we simply create 
#a function and then check the condition if there is any list inside the list or int or float value
#if available then it will rturn in a single list 
#""" """ we can document the function ,  it is called docsting ,multi line comment 
# by using this we can find the shift + tab key and know the function doc
# we use docstring for future understanding

In [29]:
test8([54,5,6,4,3,33,444,[56,655,4433,]])

[54, 5, 6, 4, 3, 33, 444, 56, 655, 4433]

In [33]:
def test9(*args):
    return args
#by *args using this we create dynamic now it will accept maximum no of aruments as per user need
#and it is type of touple 
#* = staric means n no of args , how much you need enter args in place of args we can use any keyword ,only we need to use * only

In [36]:
def test9(*pank, a):
    return pank, a
# when we use a also we need to define the value of a in the function , here we define in below

In [37]:
test9(4749,544,3,2,2, a = 67)

((4749, 544, 3, 2, 2), 67)

In [38]:
def test10(c,d, a = 49, b=89):
    return a,b,c,d

In [39]:
test10(67,988)

(49, 89, 67, 988)

In [40]:
#if we pass dict in function like key and value we use **kwargs
def test11(**kwargs):
    return kwargs

In [42]:
type(test11())
#it is a type of dict

dict

In [43]:
#like this we pass the key value in the function
test11(a=[3,54,43,22,], b = "pankaj", c = "kumar", d = 34.44)
#it will return a dictionary

{'a': [3, 54, 43, 22], 'b': 'pankaj', 'c': 'kumar', 'd': 34.44}

In [44]:
#In Python, a generator is a function that returns an iterator that produces a sequence of values when iterated over.

#Generators are useful when we want to produce a large sequence of values, but we don't want to store all of them in memory at once.

In [45]:
#fibonachi by using generator funcion ,yield is used to return thr value in gen fun

In [53]:
def test_fib(n):
    a,b = 0, 1
    for i in range(n):
        yield a
        a, b = b , a+b
        #where we use yield that is generator function , yield will through the data and we print below
        #for better memory utilization we use generator function

In [49]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [50]:
test_fib(8)

In [55]:
def test_fib1():
    a,b = 0,1
    while True:
        yield a
        a,b = b, a+b
        # here we create a function

In [61]:
#now we cretae a obj of the fun
fib = test_fib1()

In [70]:
for i in range(5):
    print(next(fib))
    #we put in iterater and print , and in iterator we go to next

12586269025
20365011074
32951280099
53316291173
86267571272

In [80]:
s = "pankaj"
s1 = iter(s)
#in iter only string can insert , we can put string in iter() , and call the next function to get the next element
#generater will generate one by one all element of the list
#iterator will go one by one at the element

In [72]:
next(s1)

'p'

In [74]:
next(s1)

'p'

In [75]:
next(s1)

'a'

In [76]:
next(s1)

'n'

In [77]:
next(s1)

'k'

In [81]:
#in this way we create generator() and to generate conitue it. after function create we crate obj of c and we call the object and print it
#yield used means generator function , it will conitue geenrates the items that need 
def count_test(n):
    count = 1
    while count < n:
        yield count
        count = count + 1

In [82]:
c = count_test(10)

In [91]:
for i in c:
    print(i)

In [92]:
type(c)

generator

In [93]:
for i in c:
    print(i)

In [95]:
#Lambda Function 
# In Python, a lambda function is a special type of function without the function name. 
a = lambda n,p : n**p #this type of fun called one liner function , or annonomus fun
a(3,2) #this way we call the function

9

In [96]:
add = lambda a,b: a+b

In [97]:
add(4,5)

9

In [98]:
#temp to farenhide 
c_to_f = lambda c: (9/5)*c + 32

In [99]:
c_to_f(34)

93.2

In [100]:
#finding the maximum no using lambda
finding_max = lambda x,y: x if x>y else y

In [101]:
finding_max(45,99)

99

In [102]:
s = "datascience"

In [103]:
find_len = lambda s: len(s)
#this way we find the length of the string by using lambda function

In [104]:
find_len(s)

11

In [105]:
#Map Reduce & Fliter Function

In [106]:
l = [2,3,4,5,6]

In [ ]:
#map function , it takes 2 arugment , function and iterable , Pythonâ€™s map() is a built-in function that allows you to process and transform all the items in an iterable without using an explicit for loop, a technique commonly known as mapping. map() is useful when you need to apply a transformation function to each item in an iterable and transform them into a new iterable.

In [107]:
def sq(x):
    return x**2
#basically here we create a fun and in list we use map function .

In [108]:
list(map(sq,l))
#using map function

[4, 9, 16, 25, 36]

In [4]:
l = [2,3,4,56,7]

In [6]:
list(map(lambda x:x**2,l))
#using lambda fun we use in one line and find the sqr of l without making fun , with the help of mapping

[4, 9, 16, 3136, 49]

In [8]:
#add two list 
l1 = [3,4,5,7,8]
l2 = [33,14,13,12,11]
list(map(lambda x,y : x+y,l1,l2))
#here map function map the list and we get output of two list in one list

[36, 18, 18, 19, 19]

In [9]:
s = "datascience"
list(map(lambda s: s.upper(),s))

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [10]:
#reduce function 
from functools import reduce

In [11]:
l = [5,6,3,4,566,88,90]

In [13]:
reduce(lambda x, y : x + y,l)
#reduce function will reduce the list and give us only one output by reducing the input 
#we can only pass 2 parameter in reduce fun , if we pass 3 parameter then it gives an error

762

In [14]:
#we can also give the list inside the reduce function , but we can't give more than 2 varible inside the reduce function
reduce(lambda x,y:x+y,[4,5])

9

In [15]:
reduce(lambda x,y: x*y,l)
#it will give the sum of the list ,in one shot

1613779200

In [16]:
l

[5, 6, 3, 4, 566, 88, 90]

In [18]:
#find highest element from the list
reduce(lambda x,y:x if x>y else y,l)

566

In [19]:
l

[5, 6, 3, 4, 566, 88, 90]

In [20]:
l1 = [1,2,3,4,5,6,7,8]

In [22]:
#filter fun to filter from the data
list(filter (lambda x: x %2==0 , l1))
#find all even no from the list

[2, 4, 6, 8]

In [23]:
l2 = [-4,-8,-9,8,3,2,1]
list(filter(lambda x: x<0,l2))
#find negative no

[-4, -8, -9]

In [25]:
l3 = ["pankaj","india","canada","japan"]
list(filter(lambda x:len(x)<6,l3))
#find string len less than 6 
#so we use lambda , filter , map and reduce function to solve problems

['india', 'japan']